{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'create_account_style.css' %}">
    <title>Create account</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="email" name="email" id="email" placeholder="E-mail" required><br>
        <input type="text" name="user_name" id="user_name" placeholder="User name" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm password" required><br>
        <input type="submit" value="Create">
    </form><br>
    <a href="/login/">Already have an account?</a>
    {% if error == True %}
    <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>