{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="user_name" id="user_name" placeholder="User name or email" required><br>
        <input type="password" name="password" id="password" placeholder="Password" required><br>
        <input type="submit" value="Login">
    </form><br>
    <a href="/create_account/">Create account</a>
    {% if error == True %}
    <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>