{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home_style.css' %}">
    <title>Home</title>
</head>
<body>
    <nav>
        {%if logged_in == True %}
        
        <img src="{% static 'user.png' %}" alt="profile picture">
        <a href="/logout/"><button>Logout</button></a>

        {% else %}
        <a href="/login/"><button>Login</button></a>
        {% endif %}
    </nav>
    <h1>Task manager</h1>
    <p>Place to manage alll of your tasks!</p>
    {%if logged_in == True %}
    <a href="/user/{{user}}/"><button>Go to tasks page</button></a>
    {% else %}
    <a href="/create_account/"><button>Get started</button></a>
    {% endif %}
</body>
</html>